%fonts {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
}

.searchTown__button {
  width: 300px;
  min-height: 80px;
  @extend %fonts;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  background: #8b4513;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  margin-left: -300px;
  z-index: 2;
  cursor: pointer;
  border: none;
  outline: none;
  &:hover {
    background: #a0522d;
  }

  &:active {
    background: #a52a2a;
  }

  @media (max-width: 1024px) {
    & {
      width: 210px;
      margin-left: -210px;
    }
  }

  @media (max-width: 580px) {
    & {
      width: 100%;
      min-height: 60px;
      margin-left: 0;
      font-size: 20px;
    }
  }
}

.searchTown__button:hover {
  background: #a0522d;
}

.searchTown__button:active {
  background: #a52a2a;
}

@media (max-width: 1024px) {
  .searchTown__button {
    width: 210px;
    margin-left: -210px;
  }
}

@media (max-width: 580px) {
  .searchTown__button {
    width: 100%;
    min-height: 60px;
    margin-left: 0;
    font-size: 20px;
  }
}
