%fonts {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
}

.searchTown__select {
  display: none;
  &_active {
    width: 500px;
    height: 400px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    outline: none;
    background-color: #fff;
    overflow: auto;
  }

  @media (max-width: 768px) {
    & {
      width: 100%;
    }
  }
  .searchTown__option {
    @extend %fonts;
    font-weight: normal;
    font-size: 15px;
    color: #1a1b22;
    height: 20px;
    list-style-type: none;
    border-bottom: 1px solid #000;
    cursor: pointer;
    &:hover {
      background-color: coral;
    }
  }
}
