$whiteColor: #fff;
%fonts {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .header__title {
    @extend %fonts;
    font-weight: 500;
    font-size: 40px;
    color: $whiteColor;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .header__subtitle {
    @extend %fonts;
    font-weight: normal;
    font-size: 30px;
    color: $whiteColor;
    line-height: 40px;
    @media (max-width: 426px) {
      & {
        font-size: 18px;
        line-height: 20px;
      }
    }
  }
}
