@mixin backgroundSize($arg) {
  background-size: $arg;
  -webkit-background-size: $arg;
  -moz-background-size: $arg;
  -o-background-size: $arg;
}

@mixin textSize($arg) {
  -webkit-text-size-adjust: $arg;
  -ms-text-size-adjust: $arg;
  -moz-text-size-adjust: $arg;
}

.content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: darkgrey;
  background: url(https://images.unsplash.com/photo-1558369178-6556d97855d0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80)
    no-repeat center center fixed;
  @include backgroundSize(cover);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include textSize(100%);
  opacity: 0.8;
  padding: 5% 5%;
  .content__header {
    margin-bottom: 5%;
  }
  .content__main {
    margin-bottom: 40%;
  }
}
